body {

}
#main {
    margin-top: 15px;
}

.canvas-container {
    width: 780px;
    display: inline-block;
}
@media (min-width: 992px) {
    .score-board {
        height: 460px;
        width: 150px;
        float: right;
        display: inline-block;
    }
}

