/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
	border-top: 10px solid #424242;
    font-family: 'Open Sans', sans-serif;
   }
   
   header {
	background: url('../img/PortPicBlack.jpg');
	height: 313px;
	padding: 40px;
	
	
   }
   
   
    h1, h2, p, ul {
	margin: 0;
	
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
   
   h1 {
	padding-top: 250px;
    padding-left: 40px;
	color: #fff;
	}
	
	h2 {
	font-weight: normal;
	color: #fff;
	}
	
	#map-location {
		background: #f3f3f3;
		background-position: center;
		height: 250px;
		transition: background-image 1s;
	}
	
	nav {
		float: left;
		width: 250px;
	}
		
	article {

        max-width: 900px;
        margin-left: 300px;
		}
	
	.gallery li {
		display: inline-block;
		margin: 0 2% 2% 0;
		border: 5px solid #fff;
		box-shadow: 0 0 10px #ccc;
		transition: border-color .3s;
		}
		
	.gallery li:hover {
		border-color: #aeccf9;
		}
		
	nav ul {
	margin: 30px 0 0 40px;
	
	}
	
	nav a {
	color: #424242;
	text-decoration: none;
	display: block;
	padding: 10px;
	border-top: 1px solid #e3e3e3;
	}
	
	nav a:hover {
		background: #f3f3f3;
		
		}
		
	a {
		text-decoration: none;
		color: #04B4AE;
		
		}

    #about {
        max-width: 900px;
    }

    #article {
      width: 800px;
      padding: 50px;
      margin: 0 auto;
      display: block;
    }

    
    #contactForm, .statusMessage, input[type="submit"], input[type="button"] {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;  
      border-radius: 10px;
    }

    /* Style for the contact form and status messages */
     
    #contactForm, .statusMessage {
      color: #666;
      background-color: #ebedf2;
      background: -webkit-gradient( linear, left bottom, left top, color-stop(0,#dfe1e5), color-stop(1, #ebedf2) );
      background: -moz-linear-gradient( center bottom, #dfe1e5 0%, #ebedf2 100% );  
      border: 1px solid #aaa;
      -moz-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, .5);
      box-shadow: 0 0 1em rgba(0, 0, 0, .5);
      opacity: .95;
    }
     
     
    /* The form dimensions */
     
    #contactForm {
      width: 40em;
      height: 33em;
      padding: 0 1.5em 1.5em 1.5em;
      margin: 0 auto;
    }
     
     
    /* Position the form in the middle of the window (if JavaScript is enabled) */
     
    #contactForm.positioned {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
     
     
    /* Dimensions and position of the status messages */
     
    .statusMessage {
      display: none;
      margin: auto;
      width: 30em;
      height: 2em;
      padding: 1.5em;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
     
    .statusMessage p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
     
     
    /* The header at the top of the form */
     
    #contactForm h2 {
      font-size: 2em;
      font-style: italic;
      letter-spacing: .05em;
      margin: 0 0 1em -.75em;
      padding: 1em;
      width: 19.5em;  
      color: #aeb6aa;
      border-bottom: 1px solid #aaa;
      -moz-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;  
      border-radius: 10px 10px 0 0;
    }
     
     
    /* Give form elements consistent margin, padding and line height */
     
    #contactForm ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
     
    #contactForm ul li {
      margin: .9em 0 0 0;
      padding: 0;
    }
     
    #contactForm input, #contactForm label {
      line-height: 1em;
    }
     
     
    /* The field labels */
     
    label {
      display: block;
      float: left;
      clear: left;
      text-align: right;
      width: 28%;
      padding: .4em 0 0 0;
      margin: .15em .5em 0 0;
      font-weight: bold;
    }
     
     
    /* The fields */
     
    input, textarea {
      display: block;
      margin: 0;
      padding: .4em;
      width: 67%;
      font-family: "Georgia", serif;
      font-size: 1em;
      border: 1px solid #aaa;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;    
      border-radius: 5px;
      -moz-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
      -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
      box-shadow: rgba(0,0,0,.2) 0 1px 4px inset;
      background: #fff;
    }
     
    textarea {
      height: 13em;
      line-height: 1.5em;
      resize: none;
    }
     
     
    /* Place a border around focused fields, and hide the inner shadow */
     
    #contactForm *:focus {
      border: 1px solid #66f;
      outline: none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
     
     
    /* Display correctly filled-in fields with a green background */
     
    input:valid, textarea:valid {
      background: #dfd;
    }
     
     
    /* The Send and Cancel buttons */
     
    input[type="submit"], input[type="button"] {
      float: right;
      margin: 2em 1em 0 1em;
      width: 10em;
      padding: .5em;
      border: 1px solid #666;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;  
      border-radius: 10px;
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
      color: #fff;
      background: #0a0;
      font-size: 1em;
      line-height: 1em;
      font-weight: bold;
      opacity: .7;
      -webkit-appearance: none;
      -moz-transition: opacity .5s;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s;
    }
     
    input[type="submit"]:hover,
    input[type="submit"]:active,
    input[type="button"]:hover,
    input[type="button"]:active {
      cursor: pointer;
      opacity: 1;
    }
     
    input[type="submit"]:active, input[type="button"]:active {
      color: #333;
      background: #eee;
      -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
      -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
      box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    }
     
    input[type="button"] {
      background: #f33;
    }
     
     
    /* Header/footer boxes */
     
    .wideBox {
      clear: both;
      text-align: center;
      margin: 70px;
      padding: 10px;
      background: #ebedf2;
      border: 1px solid #333;
    }
     
    .wideBox h1 {
      font-weight: bold;
      margin: 20px;
      color: #666;
      font-size: 1.5em;
    }
     
    </style>
     
    <!-- Some IE7 hacks and workarounds -->
     
    <!--[if lt IE 8]>
    <style>
     
    /* IE7 needs the fields to be floated as well as the labels */
     
    input, textarea {
      float: right;
    }
     
    #formButtons {
      clear: both;
    }
     
    /*
      IE7 needs an ickier approach to vertical/horizontal centring with fixed positioning.
      The negative margins are half the element's width/height.
    */
     
    #contactForm.positioned, .statusMessage {
      left: 50%;
      top: 50%;
    }
     
    #contactForm.positioned {
      margin-left: -20em;
      margin-top: -16.5em;
    }
     
    .statusMessage {
      margin-left: -15em;
      margin-top: -1em;
    }












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media(max-width: 600px) {
    nav {
		float: none;
		width: auto;
		}
	article {
		margin: 20px;
        width: 90%;
		}

	
	#map-location {
		background: #000;
		background-position: center;
		height: 250px;
		transition: background-image 1s;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
