<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/flightgame.css">
        <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
        <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body onLoad="onLoad();">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav data-0="position:absolute;top:700px;" data-700="position:absolute;top:700px;"
                    data-1500="position:absolute; top:1550px;">
            <ul >
                <li><a href="../index.html">Home</a></li>
                <li><a href="../index.html#portfolio">Portfolio</a></li>
                <li><a href="../index.html#images">Images</a></li>
                <li><a href="../index.html#contact">Contact</a></li>
            </ul>
                
        
        </nav>
        <canvas id="theCanvas" width="600em" height="800em"></canvas>
        <div class="scoreboard">
            <p>POINTS:</p>
            <div>
                <p id="points">0</p>
            </div>
            <p>LEVEL:</p>
            <div>
                <p id="level">1</p>
            </div>
        </div>
        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="../js/vendor/skrollr.min.js"></script>
        <script src="../js/vendor/skrollr.menu.min.js"></script>
        <script src="../js/plugins.js"></script>
        <!-- script src="../js/main.js"></script -->
        <script src="../js/flightgame.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='http://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>