body.dark-mode {
  background-color: $black-blue;
  color: $white;

  a {
    color: $white;
    background:linear-gradient(
      to bottom, $purple 0%,
      $purple 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;

    &:hover {
      background-size: 4px 50px;
    }
    &.button {
      background-size: 0px 4px;
      border-color: $purple;
      color: $purple;

      &:hover {
        background-size: 4px 50px;
        color: $black-blue;
      }
    }
  }
  h1 {
    color: $white;
  }
  h2, h3 {
    color: $pink;
  }

  section {
    background-color: lighten($black-blue, 7%);
    border-radius: 5px;
    padding: 1em;
  }
  .profile {

    .face {
      background-image: url('../images/profile_dark.jpg');
      border-color: transparent;

      &:hover {
        border-color: $pistachio;
      }
    }
  }
  @media all and (min-width: 768px) {
    .profile {

      .face-wrapper {
        border-color: $white;

        &::after,
        &::before {
          background-color: $white;
        }
      }
      .name {
        text-align: left;
      }
    }
  }
}
