body.dark-mode {
  background-color: $black-blue;
  color: $white;

  a {
    color: $pink;
    &:hover {
      color: $pistachio;
    }
    &.button {
      border-color: $pink;

      &:hover {
        border-color: $pistachio;
        box-shadow: 2px 2px 5px lighten($black-blue, 20%);
      }
    }
  }
  h1 {
    color: $white;
  }
  h2, h3 {
    color: $pistachio;
  }
  .profile {

    .face {
      background-image: url('../images/profile_dark.jpg');
    }
  }
  @media all and (min-width: 768px) {
    .profile {
      background-color: darken($grey-light, 65%);

      .face {
        transform: translateX(-350px);
      }
      .name {
        transform: translateX(270px);
        text-align: left;
      }
    }
  }
}
