.profile {
  pointer-events: none;
  margin-bottom: 2em;
  margin-top: 2em;

  &:hover {
    cursor: pointer;
  }
  .face {
    background-image: url('../images/profile.jpg');
    background-size: contain;
    border: 2px solid $grey-light;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translateX(0);
    transition: all .25s ease;
    vertical-align: middle;
  }
  .name {
    display: inline-block;
    max-width: calc(95% - 155px);
    margin-right: 5%;
    vertical-align: middle;
  }
  @media all and (min-width: 768px) {
    & {
      align-items: center;
      background-color: $grey-light;
      border: 4px solid $grey;
      border-radius: 262px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      pointer-events: inherit;
      height: 280px;
      overflow: hidden;
      transition: all .25s ease;

      .name {
        margin: 2em;
        max-width: 240px;
        text-align: right;
        transform: translateX(30px);
      }
      .face {
        box-sizing: content-box;
        border: 4px solid $grey;
        height: 272px;
        width: 272px;
        transform: translateX(4px);
      }
    }
  }
}
