.profile {
  pointer-events: none;
  margin-bottom: 2em;
  margin-top: 2em;

  .face {
    background-image: url('../images/profile.jpg');
    background-size: contain;
    border: 2px solid $blue;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translateX(0);
    transition: all .25s ease;
    vertical-align: middle;

    &:hover {
      border-color: $green;
      cursor: pointer;
    }
  }
  .name {
    display: inline-block;
    max-width: calc(95% - 155px);
    margin-right: 5%;
    vertical-align: middle;
  }
  @media all and (min-width: 768px) {
    & {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      pointer-events: inherit;
      transition: all .25s ease;

      .name {
        margin: 2em 0;
        max-width: 270px;
        transform: translateX(0px);
      }
      .face {
        height: 272px;
        width: 272px;
        transform: translateX(0px);
      }
    }
  }
}
