/**
  * Colors
  */
$black: #111;
$black-blue: rgb(21, 32, 43);
$white: #fff;
$white-ice: #E0FFFF;
$blue: #007FAA;
$blue-light: #2ECCFA;
$blue-drupal: #0678BE;
$blue-drupal-light: #53B0EB;
$green: #008000;
$grey: #9e9e9e;
$grey-dark: #3e3e3e;
$grey-light: #F2F2F2;
$pistachio: #98FB98;
$purple: #BE90D4;
$pink: #FC6399;
$seafoam: #00c7b7;
