<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <div class="content">
    <div class="inner">
      {{ content | safe }}
    </div>
  </div>
  <div class="footer">
    <div class="inner">
      <ul>
        <li><a class="button" href="https://github.com/rhirst" alt="My Github account">github</a></li>
        <li><a class="button" href="https://www.linkedin.com/in/ryan-hirst-a69a33b6/" alt="My LinkedIn account">LinkedIn</a></li>
        <li><a class="button" href="https://codepen.io/rhirst"  alt="My CodePen account">codepen</a></li>
        <li><a class="button" href="https://www.drupal.org/u/rhirst" alt="My Drupal account">drupal</a></li>
        <li><a class="button" href="mailto:r.hirst18@gmail.com" alt="My email address">r.hirst18@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <script src="/scripts/index.js"></script>
</body>
</html>
