---
layout: layouts/base.njk
title: Ryan Hirst
---
<div id="profile" class="profile">
    <div class="name">
        <h1>Ryan Hirst</h1>
        <h2>Web Developer from Detroit, MI</h2>
    </div>
    <img src="images/profile.jpg">
</div>
<div class="description">
    <p>Programmer, UX enthusiast, soccer fanatic, amatueur cook.</p>
</div>