---
layout: layouts/base.njk
title: Ryan Hirst
description: The Resume of Ryan Hirst, a web developer from Detroit, Michigan
---
<div id="profile" class="profile">
    <div class="name">
        <h1>Ryan Hirst</h1>
        <h2>Building a better internet</h2>
    </div>
    <div id="face" class="face">
    </div>
</div>
<a id="dark-toggle" class="button" src="#" alt="toggle between dark and light mode">dark mode</a>
<section class="description">
    <p><em>Professional programmer, UX enthusiast, terrible carpenter, amatueur cook.</em><br><br>
    I like to make things, and I've got 5 years of web development experience, a degree from <a href="https://msu.edu/">Michian State University</a>, and a love for all things computer and internet to help me make them well.</p>
</section>
<section>
  <h3 class="drupal">Drupal</h3>
  <p>Open-source development at it's finest.  It was about four years ago that I was introduced to
  <a href="https://www.drupal.org/home" alt="drupal content management system">Drupal</a>,
  doing a site build for Ford's Drive for Your School program.  The robust CMS provided
  plenty of challenges for me to cut my teeth on, but once I tackled the steep learning curve and realized
  what it was capable of, there was no looking back.  Since then, I've worked with a multitude of Drupal 7 and 8 sites,
  kickstarting research with Mcubed 3.0 at the University of Michgan, protecting the Great Lakes through Blue Accounting,
  and creating a more secure world with RF Ideas.</p>
</section>
<section>
  <h3 class="jamstack">JAMstack</h3>
  <p>Back to the basics.  Static site generators have evolved rapidly in the past few years, allowing developers like myself
  to spend less time buildling the backend and more time to focus on looks, functionality, and accessibility.
  Building with these is pure fun, and I've spent endless hours exploring the variety of frameworks, and engaging with the
  community through <a href="https://jamstackconf.com/" alt="jamstack conference page">JAMstack_conf</a> and local meetups.</p>
</section>
